.notes {
    width: 80%;
}
.notes li {
    margin-bottom: 20px;
    list-style: none;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
}
li button {
    width: 100%;
    border: none;
    background: none;
    padding: 20px;
    cursor: pointer;
}